#uniform, #gaussian {
  width: 500px;
  height: 500px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.wrapper {
  display: inline-block;
  text-align: center;
  
}

h2{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height: 10pt;
}